<section id="about" class="section-1 odd highlights image-right">
  <div class="container">
      <div class="row">
          <div class="col-12 col-md-6 align-self-center text-center text-md-left">
              <div class="row intro">
                  <div class="col-12 p-0">
                      <h2 class="featured alt">About Us</h2>
                      <p>An Award winning Photography Firm.
                        We have Been Shooting, retouching and Teaching Photography and
                        Photo retouching for Free on Youtube and Premium (currently on an insane 95% giveaway Price!)
                        to promising Photographers at all level(beginners, intermediate and pro).</p>
                  </div>
              </div>
              <div class="row items">
                  <div class="col-12 p-0">
                      <div class="row item" *ngFor="let item of whatWeDo">
                          <div class="col-12 col-md-2 align-self-center">
                              <i class="icon icon-badge"></i>
                          </div>
                          <div class="col-12 col-md-9 align-self-center text-center">
                              <h4>{{item.title}}</h4>
                              <p>{{item.content}}</p>
                              <a

                                [routerLink]='item.link'
                                data-toggle="modal" data-target="#openPayment"
                                class="smooth-anchor ml-auto ml-md-0 mt-4 btn dark-button">
                                <i class="icon-cup"></i>
                                {{item.btnTitle}}
                          </a>

                          </div>
                            <!-- modal -->
                            <!-- <div id="openPayment" class="p-0 modal fade" role="dialog" aria-labelledby="register" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-slideout" role="document">
                                  <div class="modal-content full">
                                      <div class="modal-header" data-dismiss="modal">
                                          Checkout <i class="icon-close"></i>
                                      </div>
                                      <div class="modal-body">
                                          <form action="/" class="row">
                                              <div class="col-12 p-0 align-self-center">
                                                  <div class="row">
                                                      <div class="col-12 p-0 pb-3">
                                                          <h3 style="color: white ;">Personal Information</h3>

                                                      </div>
                                                  </div>
                                                  <div class="row">
                                                      <div class="col-12 p-0 input-group">
                                                          <input [(ngModel)]="customerDetails.name" type="text" name="fname" class="form-control" placeholder="Fullname" required>
                                                      </div>
                                                      <div class="col-12 p-0 input-group">
                                                          <input [(ngModel)]="customerDetails.email" name="email" type="email" class="form-control" placeholder="Email" required>
                                                      </div>
                                                      <div class="col-12 p-0 input-group">
                                                          <input [(ngModel)]="customerDetails.phone_number" name="phone" type="text" class="form-control" placeholder="Phone number" required>
                                                      </div>

                                                  </div>
                                                  <div class="row">
                                                      <div class="col-12 p-0 input-group align-self-center">

                                                          <button (click)="makePayment()" class="btn primary-button">Pay {{paymentData.currency === "USD" ? "$" : "₦"}}{{paymentData.amount}} now</button>
                                                      </div>
                                                  </div>
                                              </div>
                                          </form>
                                      </div>
                                  </div>
                              </div>
                            </div> -->

                                               </div>

                  </div>
              </div>
          </div>
          <div class="gallery col-12 col-md-6">
              <a href="#">
                  <img src="assets/images/Home/about us section/logowhite.png" class="fit-image" alt="About Us">
              </a>
          </div>
      </div>
  </div>
</section>
