<!-- <section id="content" class="section-1 single featured">
  <div class="container">
      <div class="row">


          <main class="col-12  p-0">
              <div class="row">
                  <div class="col-12 align-self-center odd">
                      <h2 class="featured mt-0 ml-0 mb-5">{{product?.productName}}</h2>

                      <div class="gallery">
                          <a href="#">
                              <img src={{product?.image}} class="w-100">
                          </a>
                      </div>

                      <p>{{product?.description}}</p>


                      <div class="text-center">
                        <button
                        class="mt-4 mr-auto ml-auto ml-lg-0 btn dark-button smooth-anchor"
                        (click)="setPrice(product?.price, product?.currency, product?.title)"
                        data-toggle="modal" data-target="#exampleModal"
                        >
                        Purchase now
                      </button>
                      </div>

                  </div>

              </div>


          </main>



      </div>
  </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Personal Information</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">X</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="exampleInputEmail1">Fullname</label>
                <input [(ngModel)]="customerDetails.name" name="name" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your fullname"/>
              </div>

              <div class="form-group">
                <label for="exampleInputPassword1">Phone</label>
                <input [(ngModel)]="customerDetails.phone_number" name="phone" type="text" class="form-control" id="exampleInputPassword1" placeholder="Phone"/>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail12">Email</label>
                <input [(ngModel)]="customerDetails.email" name="email" type="email" class="form-control" id="exampleInputEmail12" aria-describedby="emailHelp" placeholder="Enter email"/>
              </div>


            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button
             type="button"
             class="btn btn-primary"
             (click)="makePayment()"
             >Proceed to payment</button>
          </div>
        </div>
      </div>
    </div>
</section> -->

<section id="content" class="section-1 body-mode-dark single featured">
  <div class="container">
      <div class="row">
          <app-loader></app-loader>
          <!-- Main -->
          <main *ngIf="product.productName" class="col-12 col-lg-8 p-0">
              <div class="row">
                  <div class="col-12 align-self-center" >

                      <!-- Image -->
                      <a *ngIf="product?.actualPrice > 0" (click)="setPrice(product?.currency, product?.title)"
                        data-toggle="modal" data-target="#register">
                        <div class="gallery">
                          <!-- <a href="assets/images/bg-1.jpg">

                          </a> -->
                          <img src={{product?.image}}  class="w-100">
                        </div>
                      </a>

                      <a *ngIf="product?.actualPrice === 0"
                        data-toggle="modal" data-target="#exampleModal">
                        <div class="gallery">
                          <!-- <a href="assets/images/bg-1.jpg">

                          </a> -->
                          <img src={{product?.image}}  class="w-100">
                        </div>
                      </a>

                  </div>
              </div>
          </main>

          <!-- Sidebar  -->
          <aside *ngIf="product.productName" class="col-12 col-lg-4 pl-lg-5 p-0 float-right sidebar">
              <div class="row">
                  <div class="col-12 align-self-center text-left">



                      <!-- Widget [categories] -->
                      <div class="item widget-categories">
                        <h3 class="featured mt-0 ml-0">{{product?.productName}}</h3>
                        <p style="font-size: 14px!important;">{{product?.description}}</p>
                        <div class="text-center">
                          <button *ngIf="product?.actualPrice > 0"
                          class="mt-4 mr-auto ml-auto ml-lg-0 btn dark-button smooth-anchor"
                          (click)="setPrice(product?.currency, product?.title)"
                          data-toggle="modal" data-target="#register"
                          >
                          Purchase now
                        </button>

                        <button *ngIf="product?.actualPrice > 0"
                          class="mt-4 mr-auto ml-auto ml-lg-0 btn dark-button smooth-anchor"
                          (click)="setPaystackPrice(product?.currency, product?.title)"
                          data-toggle="modal" data-target="#paystack"
                          >
                          Pay with paystack
                        </button>

                        <a *ngIf="product?.actualPrice === 0 && freeStatus"
                          class="mt-4 mr-auto ml-auto ml-lg-0 btn dark-button smooth-anchor"
                          data-toggle="modal" data-target="#exampleModal"
                          >
                          Download
                      </a>

                      <a *ngIf="product?.actualPrice === 0 && !freeStatus"
                          class="mt-4 mr-auto ml-auto ml-lg-0 btn dark-button smooth-anchor"
                          data-toggle="modal" data-target="#free"
                          >
                          Get package
                      </a>
                        </div>
                      </div>


                  </div>
              </div>
          </aside>
      </div>
  </div>
</section>

<!-- Flutter wave gateway -->
<div id="register" class="p-0 modal fade" role="dialog" aria-labelledby="register" aria-hidden="true">
  <div class="modal-dialog modal-dialog-slideout" role="document">
      <div class="modal-content full">
          <div class="modal-header" data-dismiss="modal">
              Checkout <i class="icon-close"></i>
          </div>
          <div class="modal-body">
              <form action="/" class="row">
                  <div class="col-12 p-0 align-self-center">
                      <div class="row">
                          <div class="col-12 p-0 pb-3">
                              <h3 style="color: white ;">Personal Information</h3>

                          </div>
                      </div>
                      <div class="row">
                          <div class="col-12 p-0 input-group">
                              <input [(ngModel)]="customerDetails.name" type="text" name="fname" class="form-control" placeholder="Fullname" required>
                          </div>
                          <div class="col-12 p-0 input-group">
                              <input [(ngModel)]="customerDetails.email" name="email" type="email" class="form-control" placeholder="Email" required>
                          </div>

                          <div class="col-4 col-md-4 col-lg-4  m-0 p-2 input-group">
                            <input [(ngModel)]="code"  type="text" name="phone" class="form-control field-phone" placeholder="e.g +234" required/>
                          </div>
                          <div class="col-8 col-md-8 col-lg-8 p-0 input-group">
                              <input [(ngModel)]="customerDetails.phone_number" name="phone" type="text" class="form-control" placeholder="Phone number" required>
                          </div>

                      </div>
                      <div class="row">
                          <div class="col-12 p-0 input-group align-self-center">

                              <button (click)="makePayment()" class="btn primary-button">Pay {{paymentData.currency === "USD" ? "$" : "₦"}}{{paymentData.amount}} now</button>
                          </div>
                      </div>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>

<!-- Paystack gateway -->
<div id="paystack" class="p-0 modal fade" role="dialog" aria-labelledby="register" aria-hidden="true">
  <div class="modal-dialog modal-dialog-slideout" role="document">
      <div class="modal-content full">
          <div class="modal-header" data-dismiss="modal">
              Checkout with paystack <i class="icon-close"></i>
          </div>
          <div class="modal-body">
              <form action="/" class="row">
                  <div class="col-12 p-0 align-self-center">
                      <div class="row">
                          <div class="col-12 p-0 pb-3">
                              <h3 style="color: white ;">Personal Information</h3>

                          </div>
                      </div>
                      <div class="row">
                          <div class="col-12 p-0 input-group">
                              <input [(ngModel)]="options.fullname" type="text" name="fname" class="form-control" placeholder="Fullname" required>
                          </div>
                          <div class="col-12 p-0 input-group">
                              <input [(ngModel)]="options.email" name="email" type="email" class="form-control" placeholder="Email" required>
                          </div>

                          <div class="col-4 col-md-4 col-lg-4  m-0 p-2 input-group">
                            <input [(ngModel)]="code"  type="text" name="phone" class="form-control field-phone" placeholder="e.g +234" required/>
                          </div>
                          <div class="col-8 col-md-8 col-lg-8 p-0 input-group">
                              <input [(ngModel)]="options.phone" name="phone" type="text" class="form-control" placeholder="Phone number" required>
                          </div>

                      </div>
                      <div class="row">
                          <div class="col-12 p-0 input-group align-self-center">

                              <button angular4-paystack
                              [paystackOptions]="options"
                              (paymentInit)="paymentInit()"
                              (onClose)="paymentCancel()"
                              (callback)="paymentDone($event)" class="btn primary-button">Pay {{options.currency === "USD" ? "$" : "₦"}}{{options.amount / 100}} now</button>
                          </div>
                      </div>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 style="color: #fff;" class="modal-title" id="exampleModalLabel">Download links</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span style="color: #fff;" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row g-4 d-flex text-center justify-content-center align-self-center align-items-center">
          <div *ngIf="product?.downloadLink !== ''" class="col-md-12 mt-4">
            <button (click)="goToLink(product?.downloadLink)" type="button" class="mt-4 mr-auto ml-auto ml-lg-0 btn dark-button smooth-anchor">Download 1</button>
          </div>
          <div *ngIf="product?.downloadLink1 !== ''" class="col-md-12 mt-4">
            <button  (click)="goToLink1(product?.downloadLink1)"type="button" class="mt-4 mr-auto ml-auto ml-lg-0 btn dark-button smooth-anchor">Download 2</button>
          </div>
          <div *ngIf="product?.downloadLink2 !==''" class="col-md-12 mt-4">
            <button (click)="goToLink2(product?.downloadLink2)" type="button" class="mt-4 mr-auto ml-auto ml-lg-0 btn dark-button smooth-anchor">Download 3</button>
          </div>
          <div *ngIf="product?.downloadLink3 !== ''" class="col-md-12 mt-4">
            <button (click)="goToLink3(product?.downloadLink3)" type="button" class="mt-4 mr-auto ml-auto ml-lg-0 btn dark-button smooth-anchor">Download 4</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- Modal [responsive menu] -->
<div id="menu" class="p-0 modal fade" role="dialog" aria-labelledby="menu" aria-hidden="true">
  <div class="modal-dialog modal-dialog-slideout" role="document">
      <div class="modal-content full">
          <div class="modal-header" data-dismiss="modal">
              Menu <i class="icon-close"></i>
          </div>
          <div class="menu modal-body">
              <div class="row w-100">
                  <div class="items p-0 col-12 text-center">
                      <!-- Append [navbar] -->
                  </div>
                  <div class="contacts p-0 col-12 text-center">
                      <!-- Append [navbar] -->
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<!-- Scroll [to top] -->
<div id="scroll-to-top" class="scroll-to-top">
  <a href="#header" class="smooth-anchor">
      <i class="icon-arrow-up"></i>
  </a>
</div>

<!-- Free package-->
<div id="free" class="p-0 modal fade" role="dialog" aria-labelledby="register" aria-hidden="true">
  <div class="modal-dialog modal-dialog-slideout" role="document">
      <div class="modal-content full">
          <div class="modal-header" data-dismiss="modal">
              Get free package<i class="icon-close"></i>
          </div>
          <div class="modal-body">
              <form action="/" class="row">
                  <div class="col-12 p-0 align-self-center">
                      <div class="row">
                          <div class="col-12 p-0 pb-3">
                              <h3 style="color: white ;">Personal Information</h3>

                          </div>
                      </div>
                      <div class="row">
                          <div class="col-12 p-0 input-group">
                              <input [(ngModel)]="customerDetails.name" type="text" name="fname" class="form-control" placeholder="Fullname" required>
                          </div>
                          <div class="col-12 p-0 input-group">
                              <input [(ngModel)]="customerDetails.email" name="email" type="email" class="form-control" placeholder="Email" required>
                          </div>

                          <div class="col-4 col-md-4 col-lg-4  m-0 p-2 input-group">
                            <input [(ngModel)]="code"  type="text" name="phone" class="form-control field-phone" placeholder="e.g +234" required/>
                          </div>

                          <div class="col-8 col-md-8 col-lg-8 p-0 input-group">
                              <input [(ngModel)]="customerDetails.phone_number" name="phone" type="text" class="form-control" placeholder="Phone number" required>
                          </div>

                      </div>
                      <div class="row">
                          <div class="col-12 p-0 input-group align-self-center">

                              <button (click)="GetFreePackage()" class="btn primary-button">Get Now</button>
                          </div>
                      </div>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>
