.slide-content .title {
  font-size: 3.5rem !important;
}

@media only screen and (min-device-width: 300px) and (max-device-width: 520px) and (-webkit-min-device-pixel-ratio: 1) {
  .slide-content .title {
    font-size: 1.5rem !important;
  }

  .slide-content .inner .description {
    font-size: 1rem;
  }

  .slider-h-100 {
    height: calc(100vh - 130px);
  }
}

@media only screen and (min-device-width: 412px) and (max-device-width: 412px) and (-webkit-min-device-pixel-ratio: 1) {
  .slide-content .title {
    font-size: 1.5rem !important;
  }

  .slide-content .inner .description {
    font-size: 1rem;
  }

  .slider-h-100 {
    height: calc(100vh - 330px);
  }
}
