
 <header id="header">

  <nav data-aos="zoom-out" data-aos-delay="800" class="navbar navbar-expand">
      <div class="container header">


          <a class="navbar-brand" href="/">
              Slammyphotography




          </a>


          <div class="ml-auto"></div>

          <ul class="navbar-nav items">
              <li class="nav-item">
                  <a href="/" class="nav-link">Home</a>
              </li>
              <li  routerLinkActive="router-link-active"  class="nav-item">
                <a routerLink="/products" routerLinkActive="router-link-active"  class="nav-link">Products</a>
            </li>

            <li class="nav-item">
              <a routerLink="/services" class="nav-link">Services</a>
            </li>

            <li class="nav-item">
              <a routerLink="/blog" class="nav-link">Blog</a>
          </li>
          </ul>
          <ul class="navbar-nav icons">

              <li class="nav-item social">
                  <a href="https://twitter.com/okworisule?s=21&t=M8vBbaaSd9x96QVeO38YoA" class="nav-link"><i class="icon-social-twitter"></i></a>
              </li>
              <li class="nav-item social">
                  <a href="https://instagram.com/slammyphotography_?igshid=YmMyMTA2M2Y=" class="nav-link"><i class="icon-social-instagram"></i></a>
              </li>
              <li class="nav-item social">
                <a href="https://www.facebook.com/Slammyphotography" class="nav-link"><i class="icon-social-facebook"></i></a>
            </li>
          </ul>



          <ul class="navbar-nav toggle">
              <li class="nav-item">
                  <a href="#" class="nav-link" data-toggle="modal" data-target="#menu">
                      <i class="icon-menu m-0"></i>
                  </a>
              </li>
          </ul>
      </div>
  </nav>

</header>


<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav> -->
