<section id="portfolio-grid" class="section-6 showcase portfolio blog-grid filter-section">
  <div class="overflow-holder">
      <div class="container">
        <div class="col-12 odd">
          <h2 class="mb-5 text-center title">Image Gallery</h2>
      </div>
        <div class="item widget-gallery">
          <!-- <h4 class="title">Image Gallery</h4> -->
          <div class="gallery row justify-content-center">
              <a *ngFor="let item of Data" class="col-6 col-md-6 col-lg-4 item" href={{item.image}}>
                  <img src={{item.image}} class="w-100">
              </a>

          </div>
        </div>
          <!-- <div class="row text-center intro">
              <div class="col-12 odd">
                  <h2 class="mb-0">What We Do</h2>
              </div>
          </div>
          <div class="row justify-content-center text-center">
              <div class="col-12">
                  <div class="btn-group btn-group-toggle" data-toggle="buttons">
                      <label class="btn active">
                          <input type="radio" value="all" checked class="btn-filter-item">
                          <span>All</span>
                      </label>
                      <label class="btn">
                          <input type="radio" value="wedding" class="btn-filter-item">
                          <span>Wedding</span>
                      </label>
                      <label class="btn">
                          <input type="radio" value="headshot" class="btn-filter-item">
                          <span>Head Shot</span>
                      </label>
                      <label class="btn">
                          <input type="radio" value="portrait" class="btn-filter-item">
                          <span>Portrait</span>
                      </label>
                  </div>
              </div>
          </div>
          <div class="row items filter-items">
              <div class="col-12 col-md-6 col-lg-4 item filter-item" data-groups='["headshot"]'>
                  <div class="row card p-0 text-center">
                      <div class="gallery">
                          <a href="assets/images/Home/headshot/1.jpg" class="image-over">
                              <img src="assets/images/Home/headshot/1.jpg" alt="Lorem ipsum">
                          </a>
                      </div>
                  </div>
              </div>

              <div class="col-12 col-md-6 col-lg-4 item filter-item" data-groups='["wedding"]'>
                  <div class="row card p-0 text-center">
                      <div class="gallery">
                          <a href="assets/images/Home/weddings/4.jpg" class="image-over">
                              <img src="assets/images/Home/weddings/4.jpg" alt="Lorem ipsum">
                          </a>
                      </div>
                  </div>
              </div>



              <div class="col-12 col-md-6 col-lg-4 item filter-item" data-groups='["headshot"]'>
                  <div class="row card p-0 text-center">
                      <div class="gallery">
                          <a href="assets/images/Home/headshot/2.jpg" class="image-over">
                              <img src="assets/images/Home/headshot/2.jpg" alt="Lorem ipsum">
                          </a>
                      </div>

                  </div>
              </div>

              <div class="col-12 col-md-6 col-lg-4 item filter-item" data-groups='["wedding"]'>
                  <div class="row card p-0 text-center">
                      <div class="gallery">
                          <a href="assets/images/Home/weddings/6.jpg" class="image-over">
                              <img src="assets/images/Home/weddings/6.jpg" alt="Lorem ipsum">
                          </a>
                      </div>

                  </div>
              </div>

              <div class="col-12 col-md-6 col-lg-4 item filter-item" data-groups='["headshot"]'>
                  <div class="row card p-0 text-center">
                      <div class="gallery">
                          <a href="assets/images/Home/headshot/4.jpg" class="image-over">
                              <img src="assets/images/Home/headshot/4.jpg" alt="Lorem ipsum">
                          </a>
                      </div>

                  </div>
              </div>

              <div class="col-12 col-md-6 col-lg-4 item filter-item" data-groups='["wedding"]'>
                <div class="row card p-0 text-center">
                    <div class="gallery">
                        <a href="assets/images/Home/weddings/10.jpg" class="image-over">
                            <img src="assets/images/Home/weddings/10.jpg" alt="Lorem ipsum">
                        </a>
                    </div>

                </div>
            </div>


            <div class="col-12 col-md-6 col-lg-4 item filter-item" data-groups='["portrait"]'>
              <div class="row card p-0 text-center">
                  <div class="gallery">
                      <a href="assets/images/Home/portait/(11).jpg" class="image-over">
                          <img src="assets/images/Home/portait/(11).jpg" alt="Lorem ipsum">
                      </a>
                  </div>

              </div>
          </div>

          <div class="col-12 col-md-6 col-lg-4 item filter-item" data-groups='["portrait"]'>
              <div class="row card p-0 text-center">
                  <div class="gallery">
                      <a href="assets/images/Home/portait/(29).jpg" class="image-over">
                          <img src="assets/images/Home/portait/(29).jpg" alt="Lorem ipsum">
                      </a>
                  </div>

              </div>
          </div>

          <div class="col-12 col-md-6 col-lg-4 item filter-item" data-groups='["portrait"]'>
            <div class="row card p-0 text-center">
                <div class="gallery">
                    <a href="assets/images/Home/portait/m.jpg" class="image-over">
                        <img src="assets/images/Home/portait/m.jpg" alt="Lorem ipsum">
                    </a>
                </div>

            </div>
        </div>
              <div class="col-1 filter-sizer"></div>
          </div> -->
      </div>
  </div>
</section>



