<footer class="odd">

  <!-- Footer [links] -->
  <section id="footer" class="footer">
      <div class="container">
          <div class="row items footer-widget">
              <div class="col-12 col-lg-4 p-0">
                  <div class="row">
                      <div class="branding col-12 p-3 text-center text-lg-left item">
                          <div class="brand">
                              <a href="/" class="logo">
                                Slammyphotography


                                      <img src="assets/images/Home/about us section/logowhite.png" alt="Leverage">

                              </a>
                          </div>
                          <p>An Award winning Photography Firm. We have Been Shooting, retouching and Teaching Photography and Photo retouching for Free on Youtube</p>
                          <ul class="navbar-nav social share-list mt-0 ml-auto">
                              <li class="nav-item">
                                  <a href="https://instagram.com/slammyphotography_?igshid=YmMyMTA2M2Y=" class="nav-link"><i class="icon-social-instagram ml-0"></i></a>
                              </li>
                              <li class="nav-item">
                                  <a href="https://www.facebook.com/Slammyphotography" class="nav-link"><i class="icon-social-facebook"></i></a>
                              </li>

                              <li class="nav-item">
                                  <a href="https://twitter.com/okworisule?s=21&t=M8vBbaaSd9x96QVeO38YoA" class="nav-link"><i class="icon-social-twitter"></i></a>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="col-12 col-lg-8 p-0">
                  <div class="row">
                      <div class="col-12 col-lg-6 p-3 text-center text-lg-left item">
                          <h4 class="title">Get in Touch</h4>
                          <ul class="navbar-nav">
                              <li class="nav-item">
                                  <a href="tel:+2348143122795" class="nav-link">
                                      <i class="icon-phone mr-2"></i>
                                      +2348143122795
                                  </a>
                              </li>
                              <li class="nav-item">
                                  <a href="mailto:slammyphotography@gmail.com" class="nav-link">
                                      <i class="icon-envelope mr-2"></i>
                                      slammyphotography@gmail.com
                                  </a>
                              </li>
                              <li class="nav-item">
                                  <a href="#" class="nav-link">
                                      <i class="icon-location-pin mr-2"></i>
                                      Area 3 Abuja
                                  </a>
                              </li>
                              <li class="nav-item">
                                  <a href="#contact" class="mt-4 mr-auto ml-auto ml-lg-0 btn dark-button smooth-anchor"><i class="icon-speech"></i>SEND A MESSAGE</a>
                              </li>
                          </ul>
                      </div>
                      <div class="col-12 col-lg-6 p-3 text-center text-lg-left item">
                          <h4 class="title">Our Services</h4>
                          <ul class="navbar-nav">
                              <li class="nav-item">
                                  <a href="#" class="nav-link">Photography</a>
                              </li>
                              <li class="nav-item">
                                  <a href="#" class="nav-link">Image retouching</a>
                              </li>
                              <li class="nav-item">
                                  <a href="#" class="nav-link">Video covering</a>
                              </li>
                              <li class="nav-item">
                                  <a href="#" class="nav-link">Branding and Identity</a>
                              </li>
                              <li class="nav-item">
                                  <a href="#" class="nav-link">Digital Images & Videos</a>
                              </li>
                          </ul>
                      </div>

                  </div>
              </div>
          </div>
      </div>
  </section>

  <!-- Copyright -->
  <section id="copyright" class="p-3 copyright">
      <div class="container">
          <div class="row">
              <div class="col-12 col-md-6 p-3 text-center text-lg-left">
                  <p>Enjoy the low price. We are tracking any intention of piracy.</p>
                  <!--
                      Suggestion: Replace the text above with a description of your website.
                   -->
              </div>
              <div class="col-12 col-md-6 p-3 text-center text-lg-right">
                  <p>© 2022 slammy is Proudly Powered by <a href="https://facebook.com" target="_blank">Photography</a>.</p>
              </div>
          </div>
      </div>
  </section>

</footer>
